:root {


	--fg_primary_lum: 255;
	--fg_primary: rgb(var(--fg_primary_lum), var(--fg_primary_lum), var(--fg_primary_lum));

	--fg_secondary: #3498db;

	--bg_overlay_alpha: 0.6;
	--bg_overlay: rgba(16, 16, 24, var(--bg_overlay_alpha));

	--bg_stats_alpha: 0.9;
	--bg_stats: rgba(0, 0, 0, var(--bg_stats_alpha));

	--bg_background: rgb(0, 0, 0);

	--animation_slow: 0.5s;
	--animation_fast: calc(var(--animation_slow) / 2);
	--slide_speed:var(--animation_slow);
	--fade_speed:calc(var(--animation_fast) / 2);

	--margin_vertical: 32px;
	--margin_horizontal: 64px;
	--padding: var(--margin_vertical);

	--clock_height: 64px;
	--overlay_height: 48px;
	--control_height: 42px;

	--stats_width: 256px;
	--image_height: 256px;
	--icon_size: 32px;

	--volume_height: 256px;
	--volume_slider_width: 22px;
	--volume_padding_vertical: calc(calc(var(--control_height) - var(--volume_slider_width)) / 2);
	--volume_padding_horizontal: calc(var(--icon_size) / 2);
	--volume_padding: var(--volume_padding_vertical) var(--volume_padding_horizontal);

}

body {

	background-color:var(--bg_background);
	color:var(--fg_primary);
	font-family:sans-serif;
	font-size:16px;
}

#main {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;

	display:flex;
	flex-direction:column;
}

#videoPlayer {
	position:relative;
	width:100%;
	height:100%;

	flex-shrink:1;

	overflow:hidden;
}

#videoPlayer video {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

#videoPlayer .playingNow,
#videoPlayer .playingNext,
#videoPlayer .clock,
#videoPlayer .stats,
#videoPlayer .volumeControls,
#videoPlayer .controls {
	position:absolute;

	display:flex;

	z-index:1000;
}

#videoPlayer .playingNow {
	left:0;
	bottom:calc(var(--margin_vertical) + var(--control_height) + var(--padding));
	width:auto;
	height:var(--overlay_height);
	padding-left:calc(var(--control_height) / 8 + var(--margin_horizontal));
	padding-right:calc(var(--overlay_height) * 0.75);

	flex-direction:row;

	background-color:var(--bg_overlay);
	border-radius:0 calc(var(--overlay_height) / 2) calc(var(--overlay_height) / 2) 0;
}
#videoPlayer .playingNext {
	right:0;
	top:calc(var(--margin_vertical) + var(--overlay_height) + var(--padding));
	width:auto;
	height:var(--overlay_height);
	padding-left:calc(var(--overlay_height) * 0.75);
	padding-right:var(--margin_horizontal);

	flex-direction:row;
}

#videoPlayer .controls {
	left:var(--margin_horizontal);
	right:var(--margin_horizontal);
	bottom:var(--margin_vertical);
	height:var(--control_height);
	padding:0 calc(var(--control_height) / 2 - 8px);

	flex-direction:row;

	background-color:var(--bg_overlay);
	border-radius:calc(var(--control_height) / 2);

	justify-content:stretch;
}

#videoPlayer .controls .progressBar {
	display:flex;
	flex-grow:100;
	flex-direction:column;
	justify-content:center;
}

#videoPlayer .volumeControls {
	left:var(--margin_horizontal);
	top:var(--margin_vertical);
	width:auto;
	height:var(--volume_height);

	flex-direction:row;
	flex-wrap:nowrap;

	background-color:var(--bg_overlay);

	border-radius:calc(var(--volume_slider_width) / 2 + var(--volume_padding_vertical));
}
#videoPlayer .volumeControl {
	display:flex;
	flex-direction:column;
	justify-content:stretch;
	width:var(--icon_size);
	flex-grow:100;
	align-items: center;
	margin:var(--volume_padding);
	padding-top: var(--volume_padding_vertical);
}
#videoPlayer .volumeControl + .volumeControl {
	margin-left:0;
}
#videoPlayer .volumeControl .iconBox {
	margin-top: calc(var(--volume_padding_vertical) / 2);
}

#videoPlayer .stats {
	left:50%;
	top:var(--margin_vertical);
	height:auto;
	width:var(--stats_width);
	margin-left:calc(var(--stats_width) / -2);
	padding:1%;

	flex-direction:row;
	flex-wrap:wrap;

	color:green;
	background-color:var(--bg_stats);
	font-family:monospace;
	font-weight:bold;
}

#videoPlayer .stats > dt {
	width: 49%;
}
#videoPlayer .stats > dd {
	width: 49%;
	text-align:right;
}

#videoPlayer .clock {
	right:0;
	top:var(--margin_vertical);
	width:auto;
	height:var(--clock_height);
	padding-left:calc(var(--clock_height) * 0.75);
	padding-right:var(--margin_horizontal);

	flex-direction:column;
	justify-content:space-evenly;

	background-color:var(--bg_overlay);
	border-radius:calc(var(--clock_height) / 2) 0 0 calc(var(--clock_height) / 2);

	text-align:right;
}

#videoPlayer .playingNow img,
#videoPlayer .playingNext img {
	height:var(--image_height);
	position:relative;
}

#videoPlayer .playingNow img {
	top:calc(var(--overlay_height) - var(--image_height));
}

#videoPlayer .text {
	font-size:120%;
	margin:auto 0;
}

#videoPlayer .thumbnail + .text {
	margin-left:var(--padding);
}

#videoPlayer .playingNow .line1,
#videoPlayer .playingNext .line2 {
	font-size:75%;
}

#videoPlayer .clockTime {
	font-size:250%;
}

#videoPlayer.hideStats .stats {
	display:none;
}

#videoPlayer .playingNow,
#videoPlayer .playingNext,
#videoPlayer .clock {
	transition:transform var(--slide_speed);
}
#videoPlayer.hideGUI .playingNow {
	transform:translateX(-100%);
}
#videoPlayer.hideGUI .playingNext,
#videoPlayer.hideGUI .clock {
	transform:translateX(100%);
}
#videoPlayer .volumeControls,
#videoPlayer .controls {
        transition:opacity var(--fade_speed);
}
#videoPlayer.hideGUI .volumeControls,
#videoPlayer.hideGUI .controls {
        opacity:0;
}

#videoPlayer .finishTime:before {
	content:"Ends at: ";
}

#videoPlayer .year {
	color: var(--fg_secondary);
}

#videoPlayer .text > * > *:not(:empty):after {
	content: " ";
}

#videoPlayer .year:not(:empty):before {
	content: "(";
}

#videoPlayer .year:not(:empty):after {
	content: ") ";
}

#videoPlayer .artist:not(:empty) + .title:not(:empty):before {
	content: "- ";
}

#videoPlayer .playingNext .title:not(:empty):before {
	content: "Next: ";
}

#videoPlayer .playingNext .endTime:not(:empty):before {
	content: "Ends at: ";
}

.iconBox {
	width:32px;
	height:32px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-shrink:0;
}
