@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700');
:root {

	--unit: 64px;

	--fg_primary_lum: 255;
	--fg_primary: rgb(var(--fg_primary_lum), var(--fg_primary_lum), var(--fg_primary_lum));

	--hue: 192;
	--sat: 70%;
	--sat_high: 85%;
	--sat_higher: 100%;
	--lum: calc(100% / 3);
	--lum_dark: calc(var(--lum) / 2);
	--lum_darker: calc(var(--lum) / 8);

	--alpha_higher: calc(3 / 4);
	--alpha_high: calc(1 / 2);
	--alpha_low: calc(var(--alpha_high) / 2);

	--fg_secondary: hsl(var(--hue), var(--sat), var(--lum));

	--bg_overlay: hsla(var(--hue), var(--sat_high), var(--lum_dark), var(--alpha_higher));
	--bg_overlay_dark: hsla(var(--hue), var(--sat), var(--lum_darker), var(--alpha_higher));
	--bg_overlay_darker: hsla(var(--hue), var(--sat), var(--lum_darker), var(--alpha_higher));

	--bg_selected: hsla(var(--hue), var(--sat_higher), var(--lum), var(--alpha_higher));

	--bg_stats: rgba(0, 0, 0, var(--alpha_high));

	--bg_background: rgb(0, 0, 0);

	--animation_slow: 0.5s;
	--animation_fast: calc(var(--animation_slow) / 2);
	--slide_speed:var(--animation_slow);
	--fade_speed:calc(var(--animation_fast) / 2);

	--margin_vertical: calc(var(--unit) / 2);
	--margin_horizontal: var(--unit);
	--padding: var(--margin_vertical);
	--spacing: calc(var(--padding) * 2 / 3);

	--clock_height: var(--unit);
	--overlay_height: 48px;
	--control_height: 42px;

	--stats_width: calc(var(--unit) * 4);
	--image_size: calc(var(--unit) * 4);
	--icon_size: calc(var(--unit) / 2);

	--item_height: var(--unit);

	--volume_height: calc(var(--unit) * 4);
	--volume_slider_width: 22px;
	--volume_padding_vertical: calc(calc(var(--control_height) - var(--volume_slider_width)) / 2);
	--volume_padding_horizontal: calc(var(--icon_size) / 2);
	--volume_padding: var(--volume_padding_vertical) var(--volume_padding_horizontal);

}

body {

	background-color:var(--bg_background);
	color:var(--fg_primary);
	font-family: 'Open Sans', sans-serif;
	font-size:calc(var(--unit) / 4);
}

#videoPlayer,
#videoPlayer > *,
.media > * {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}

.media > video {
	z-index: 100;
}

.osd > * {
	position:absolute;
	display:flex;
	z-index:1000;
}

.playingNow {
	left:0;
	bottom:calc(var(--margin_vertical) + var(--control_height) + var(--padding));
	width:auto;
	height:var(--overlay_height);
	padding-left:calc(var(--control_height) / 8 + var(--margin_horizontal));
	padding-right: calc(var(--overlay_height) * 2 / 3.14);
	flex-direction:row;
	background-color:var(--bg_overlay);
	border-radius:0 calc(var(--overlay_height) / 2) calc(var(--overlay_height) / 2) 0;
	align-items: flex-end;
}

.controls {
	left:var(--margin_horizontal);
	right:var(--margin_horizontal);
	bottom:var(--margin_vertical);
	height:var(--control_height);

	flex-direction:row;
	justify-content:stretch;
	
	padding:0 calc(var(--control_height) / 2 - 8px);
	background-color:var(--bg_overlay);
	border-radius:calc(var(--control_height) / 2);
}

.controls .progressBar {
	display:flex;
	flex-grow:100;
	flex-direction:column;
	justify-content:center;
}

.controls .button {
	display:flex;
	justify-content:center;
	align-items:center;
	padding: 0 8px;
}

.volumeControls {
	left:var(--margin_horizontal);
	top:var(--margin_vertical);
	width:auto;
	height:var(--volume_height);

	flex-direction:row;
	flex-wrap:nowrap;

	background-color:var(--bg_overlay);

	border-radius:calc(var(--volume_slider_width) / 2 + var(--volume_padding_vertical));
}
.volumeControl {
	display:flex;
	flex-direction:column;
	justify-content:stretch;
	width:var(--icon_size);
	flex-grow:100;
	align-items: center;
	margin:var(--volume_padding);
	padding-top: var(--volume_padding_vertical);
}
.volumeControl + .volumeControl {
	margin-left:0;
}
.volumeControl .iconBox {
	margin-top: calc(var(--volume_padding_vertical) / 2);
}

.stats {
	left:50%;
	top:var(--margin_vertical);
	height:auto;
	width:var(--stats_width);
	margin-left:calc(var(--stats_width) / -2);
	padding:1%;

	flex-direction:row;
	flex-wrap:wrap;

	color:green;
	background-color:var(--bg_stats);
	font-family:monospace;
	font-weight:bold;
}

.stats > dt {
	width: 49%;
}
.stats > dd {
	width: 49%;
	text-align:right;
}

.playingNow img {
	max-width:var(--image_size);
	max-height:var(--image_size);
	position:relative;
}


.text {
	font-size:120%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height:100%;
}

.thumbnail + .text {
	margin-left:var(--spacing);
}

.playingNow .line1 {
	font-size:75%;
}

#videoPlayer.hideStats .stats {
	display:none;
}

.playingNow,
.controls,
.volumeControls {
	display:none;
}
#videoPlayer[data-currentwindow="Fullscreen OSD"] .playingNow,
#videoPlayer[data-currentwindow="Fullscreen OSD"] .controls,
#videoPlayer[data-currentwindow="Fullscreen OSD"] .volumeControls {
	display:flex;
}

.finishTime:before {
	content:"Ends at: ";
}

.year {
	color: var(--fg_secondary);
}

.text > * > *:not(:empty):after {
	content: " ";
}

.year:not(:empty):before {
	content: "(";
}

.year:not(:empty):after {
	content: ") ";
}

.artist:not(:empty) + .title:not(:empty):before {
	content: "- ";
}

.sort:not(:empty):before {
	content: "Sort By: ";
}

#videoPlayer[data-currentwindow="Fullscreen video"] .menu,
#videoPlayer[data-currentwindow="Fullscreen video"] header,
#videoPlayer[data-currentwindow="Fullscreen video"] footer,
#videoPlayer[data-currentwindow="Fullscreen OSD"] .menu {
	display:none;
}

#videoPlayer[data-currentwindow="Fullscreen OSD"] header .title {
	visibility:hidden;
}

.menu {
	z-index: 500;
	background-color: var(--bg_overlay);
	display:flex;
	flex-direction:row;
	justify-content:stretch;
}

#videoPlayer header,
#videoPlayer footer {
	z-index:1000;
	position:absolute;
	width: 100%;
	left: 0;
	font-size: calc(var(--unit) / 2);
	height: calc(var(--unit) * 3 / 2);
	font-weight: lighter;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#videoPlayer header {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.5) 33%, rgba(0, 0, 0, 1.0) 100%);
	top: 0;
	white-space: nowrap;
}
#videoPlayer footer {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.5) 66%, rgba(0, 0, 0, 1.0) 100%);
	bottom: 0;
	top: auto;
}

header .title > span + span {
	padding-left:0;
}
header .title > span + span:before {
	content:" / ";
}

header .finishTime,
header .title2 {
	font-size: 60%;
}
header > * {
	padding:calc(var(--unit) / 4);
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
}
header > * > * {
	padding-bottom: calc(var(--unit) / 16);
}
header > * > * + * {
	padding-bottom: 0;
}
header .left {
	flex-shrink:100;
	overflow: hidden;
}
header .left .title {
	overflow:hidden;
	text-overflow:ellipsis;
}
header .right {
	align-items: flex-end;
	flex-shrink: 0;
}
header .clockTime {
	font-size: 140%;
	line-height: 80%;
}
header .finishTime {
	font-size:50%;
	margin-top: calc(var(--unit) / 16);
}

.menu .info {
	width: 40%;
	padding:calc(var(--unit) * 3 / 2) calc(var(--unit) / 4);
	background-color: var(--bg_overlay_darker);
	max-width: 500px;
	overflow: hidden;
}
.menu .info > * {
	margin:calc(var(--unit) / 3) 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.menu .info .title {
	font-weight:bold;
	line-height: 150%;
}
.menu .info .plot,
.menu .info .tagline {
	font-weight:lighter;
}
.menu .info .tagline {
	font-style:italic;
}
.menu .info .thumb {
	width:100%;
	height:50%;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items: center;
}
.menu .info .thumb img {
	max-width:100%;
	max-height:100%;
}

.menu ul {
	flex-grow:100;
	position: relative;
}

.menu li {
	position:absolute;
	width: 100%;
	flex-wrap:nowrap;
	height:var(--item_height);
	line-height:var(--item_height);
	display:flex;
	flex-direction:row;
	justify-content:stretch;
	--item_order:0;
	order:var(--item_order);
	top:calc((var(--item_height) * var(--item_order)) - (var(--item_height) / 2) + 50%);
	--n:8;
	--x:calc(var(--item_order) / var(--n));
	--o:calc(1 - (var(--x) * var(--x)));
	opacity:var(--o);
}
.menu li[data-order="0"] {
	background-color:var(--bg_selected);
}


.menu li > span {
	overflow:hidden;
	max-height:100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.menu li > .icon {
	flex-shrink: 0;
	width:calc(var(--item_height) / 3 * 4);
	display:flex;
	justify-content:center;
	align-items:center;
	flex-grow:0;
	overflow:visible;
}
.menu li > .icon > img {
	max-width:100%;
	max-height:var(--item_height);
}

.menu li > * {
	padding:0;
	padding-left:calc(var(--unit) / 8);
}

.menu li > .label {
	flex-shrink: 100;
	flex-grow: 100;
}
.menu li > .label2 {
	flex-shrink: 0;
	flex-grow: 0;
	padding-right: calc(var(--unit) / 4);
}

